<html>
    <head>
        <meta author="Example"/>


    </head>
    <body>
        <h3>What is the optimal price?</h3>
        <form action="/predict" method="GET">

            <p>Number of Bedrooms</p>

            <input type="number" name="bedrooms" min="1" value="1" />

           
            <p>Number of Bathrooms</p>

            <input type="number" name="bathrooms" min="1" value="1" />

            <p>Accommodates</p>

            <input type="number" name="accommodates" min="1" value="1" />


            <p>Instant Bookable</p>

            <select name="instant_bookable">
                <option value=1>yes</option>
                <option value=0>no</option>
            </select>
            
             
            <p>Maximum Nights</p>

            <input type="number" name="maximum_nights" min="1" value="1" />


            <p>Minimum Nights</p>

            <input type="number" name="minimum_nights" min="1" value="1" />



            <p>Amenities</p>

            <input type="radio" name="High End Electronics" value=high_end_electronics> High End Electronics<br>
            <input type="radio" name="High End Appliances" value="high_end_appliances"> High End Appliances<br>
            <input type="radio" name="Kitchen Luxury" value="kitchen_luxury"> Kitchen Luxury<br>
            <input type="radio" name="Child friendly" value="child_friendly"> Child friendly<br>
            <input type="radio" name="Privacy" value="privacy"> Privacy<br>
            <input type="radio" name="Free Parking" value="free_parking"> Free Parking<br>
            <input type="radio" name="Smoking Allowed" value="smoking_allowed"> Smoking Allowed<br>
            <input type="radio" name="Pets Allowed" value="pets_allowed"> Pets Allowed<br>
            <input type="radio" name="Handicap Accessible" value="handicap_accessible"> Handicap Accessible<br>


            <input type="submit" value="Predict" />
        </form>
        <p>{{ optimal_price }}</p>
    </body>
</html>   
