<html>
    <head>
        <meta author="Example"/>


    </head>
    <body>
        <h3>What is the optimal price?</h3>
        <form action="/predict" method="GET">

            <p>Number of Bedrooms</p>

            <input type="number" name="bedrooms" min="1" value="1" />

           
            <p>Number of Bathrooms</p>

            <input type="number" name="bathrooms" min="1" value="1" />



            <input type="submit" value="Predict" />
        </form>
        <p>{{ optimal_price }}</p>
    </body>
</html>   
