<html>
    <head>
        <meta author="Example"/>


    </head>
    <body>
        <h3>What is the optimal price?</h3>
        <form action="/predict" method="GET">

            <p>Number of Bedrooms</p>

            <input type="number" name="bedrooms" min="1" value="1" />

           
            <p>Number of Bathrooms</p>

            <input type="number" name="bathrooms" min="1" value="1" />

            <p>Accommodates</p>

            <input type="number" name="accommodates" min="1" value="1" />


            <p>Instant Bookable</p>

            <select name="instant_bookable">
                <option value=1>yes</option>
                <option value=0>no</option>
            </select>
            
             
            <p>Maximum Nights</p>

            <input type="number" name="maximum_nights" min="1" value="1" />


            <p>Minimum Nights</p>

            <input type="number" name="minimum_nights" min="1" value="1" />



            <p>Amenities</p>

            <input type="radio" name="high_end_electronics" value=1> High End Electronics<br>
            <input type="radio" name="high_end_appliances" value=1> High End Appliances<br>
            <input type="radio" name="kitchen_luxury" value=1> Kitchen Luxury<br>
            <input type="radio" name="child_friendly" value=1> Child friendly<br>
            <input type="radio" name="privacy" value=1> Privacy<br>
            <input type="radio" name="free_parking" value=1> Free Parking<br>
            <input type="radio" name="smoking_allowed" value=1> Smoking Allowed<br>
            <input type="radio" name="pets_allowed" value=1> Pets Allowed<br>
            <input type="radio" name="handicap_accessible" value=1> Handicap Accessible<br>


            <input type="submit" value="Predict" />
        </form>
        <p>{{ optimal_price }}</p>
    </body>
</html>   
